In [280]:
%matplotlib inline
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn as skl
plt.style.use('ggplot')

In [281]:
df = pd.read_csv('data.csv')
print(len(df), 'fights')
print(len(df.columns), 'features')

1477 fights
895 features

In [282]:
df.head()

,BPrev,BStreak,B_Age,B_Height,B_HomeTown,B_ID,B_Location,B_Name,B_Weight,B__Round1_Grappling_Reversals_Landed,...,R__Round5_TIP_Ground Time,R__Round5_TIP_Guard Control Time,R__Round5_TIP_Half Guard Control Time,R__Round5_TIP_Misc. Ground Control Time,R__Round5_TIP_Mount Control Time,R__Round5_TIP_Neutral Time,R__Round5_TIP_Side Control Time,R__Round5_TIP_Standing Time,winby,winner
0,1,1,23.0,182.0,Trento Italy,2783,Mezzocorona Italy,Marvin Vettori,84,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEC,red
1,0,0,32.0,175.0,"Careiro da Várzea, Amazonas Brazil",2208,"Pharr, Texas USA",Carlos Diego Ferreira,70,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUB,blue
2,2,0,38.0,172.0,Kanagawa Japan,721,Tokyo Japan,Takanori Gomi,70,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,KO/TKO,red
3,0,0,23.0,170.0,Tijuana Mexico,2825,Tijuana Mexico,Brandon Moreno,56,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,SUB,blue
4,3,1,30.0,167.0,"Spokane, WA USA",2260,"Spokane, WA USA",Elizabeth Phillips,61,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,DEC,red

In [283]:
temp_b = df.columns.tolist()[9:98]
blue = []
red = []
for i in temp_b:
    blue.append('B_' + i[10:])
    red.append('R_' + i[10:])
    
blue_info = df.columns.tolist()[0:9]
red_info = df.columns.tolist()[449:458] 
fight_info = df.columns.tolist()[444:449] + df.columns.tolist()[893:]
new_df_columns = fight_info + blue_info + red_info + blue + red
print(len(new_df_columns))

203

In [284]:
def filter_round(label):
    team = ''
    new_label = ''
    if len(label) > 9 and (label[:8] == 'B__Round' or label[:8] == 'R__Round'):
        team = label[0]
        new_label = label[10:]
        return team + '_'+new_label
    return None

In [285]:
fighter_set = set()
for i in df['B_Name']:
    fighter_set.add(i)

In [292]:
# len(fighter_set)
new_df_columns = list(set(new_df_columns))

In [301]:
aggregate_df = pd.DataFrame()

for i in range(len(df)):
    blue_dct = dict.fromkeys(blue,0)
    red_dct = dict.fromkeys(red,0)
    temp_dct = dict()
    for j in df:
        lbl = filter_round(j)
        if (lbl == None):
            temp_dct[j] = df.iloc[i][j]
        else:
            if (lbl[0] == 'B'):
                if (not np.isnan(df.iloc[i][j])):
                    blue_dct[lbl] = blue_dct.get(lbl, 0) + df.iloc[i][j]
            elif (lbl[0] == 'R'):
                if (not np.isnan(df.iloc[i][j])):
                    red_dct[lbl] = red_dct.get(lbl, 0) + df.iloc[i][j]
    temp_dct.update(blue_dct)
    temp_dct.update(red_dct)
    aggregate_df[str(i)] = pd.Series(temp_dct)

In [307]:
aggregate_df = aggregate_df.T
aggregate_df

,BPrev,BStreak,B_Age,B_Grappling_Reversals_Landed,B_Grappling_Standups_Landed,B_Grappling_Submissions_Attempts,B_Grappling_Takedowns_Attempts,B_Grappling_Takedowns_Landed,B_Height,B_HomeTown,...,R_TIP_Guard Control Time,R_TIP_Half Guard Control Time,R_TIP_Misc. Ground Control Time,R_TIP_Mount Control Time,R_TIP_Neutral Time,R_TIP_Side Control Time,R_TIP_Standing Time,R_Weight,winby,winner
0,1,1,23,0,1,1,1,1,182,Trento Italy,...,71,304,0,562,1330,30,1910,84,DEC,red
1,0,0,32,0,0,0,0,0,175,"Careiro da Várzea, Amazonas Brazil",...,0,0,0,0,0,0,0,70,SUB,blue
2,2,0,38,1,1,0,0,0,172,Kanagawa Japan,...,0,0,19,0,676,0,790,70,KO/TKO,red
3,0,0,23,0,0,0,0,0,170,Tijuana Mexico,...,311,379,0,544,1601,152,2069,56,SUB,blue
4,3,1,30,0,2,1,7,2,167,"Spokane, WA USA",...,58,12,24,40,2260,0,3102,61,DEC,red
5,0,0,38,0,0,0,0,0,180,Tehran Iran,...,10,50,0,152,1842,68,2770,70,DEC,red
6,2,1,30,1,2,0,8,2,182,"St. Catharines, Ontario Canada",...,0,0,36,7,1463,0,1705,70,DEC,red
7,0,0,27,0,0,0,0,0,177,"Jefferson, Iowa USA",...,0,120,0,204,126,0,247,70,SUB,blue
8,1,0,34,0,3,1,0,0,177,"Mansfield, Ohio USA",...,0,0,3,4,1371,0,1508,70,SUB,red
9,2,1,33,0,0,0,4,1,182,"Jales City, Sao Paulo Brazil",...,0,17,0,308,855,12,1323,77,DEC,blue
10,4,0,36,0,3,4,20,5,175,"Santa Ana, California USA",...,0,0,0,0,0,0,0,65,DEC,red
11,0,0,27,0,0,0,0,0,177,Fife Scotland,...,0,0,0,0,0,0,0,70,KO/TKO,blue
12,0,0,30,0,0,0,0,0,182,"Vicosa, Minas Gerais Brazil",...,0,0,0,0,0,0,0,84,SUB,red
13,0,0,44,0,0,0,0,0,177,Saigon Vietnam,...,0,0,0,0,0,0,0,84,KO/TKO,red
14,3,3,30,0,0,2,13,7,190,Riga Latvia,...,42,36,0,28,398,0,668,93,SUB,blue
15,2,2,30,0,1,0,1,1,190,The Republic of Dagestan Russia,...,0,193,58,71,743,26,945,118,DEC,blue
16,1,0,33,0,0,0,5,0,175,"Philadelphia, Pennsylvania United States",...,0,0,47,0,153,0,366,70,DEC,blue
17,0,0,35,0,0,0,0,0,172,"Miami, Florida USA",...,0,0,0,0,0,0,0,61,KO/TKO,red
18,0,0,36,0,0,0,0,0,167,"Takoma Park, Maryland United States",...,0,0,0,0,0,0,0,61,KO/TKO,red
19,0,0,33,0,0,0,0,0,182,"Stockton, California USA",...,0,0,0,0,0,0,0,84,DEC,no contest
20,0,0,30,0,0,0,0,0,170,"St. Anthony , Newfoundland Canada",...,426,192,78,236,1801,75,1982,65,DEC,blue
21,3,0,34,0,4,0,0,0,177,"Kona, Hawaii USA",...,0,0,0,3,486,17,654,77,DEC,red
22,0,0,33,0,0,0,0,0,177,"Linton, North Dakota USA",...,0,0,0,0,0,0,0,70,SUB,red
23,1,1,31,0,1,1,0,0,177,"Quincy, Massachusetts USA",...,0,0,0,2,107,0,107,70,KO/TKO,blue
24,0,0,37,0,0,0,0,0,180,Limassol Cyprus,...,0,0,0,0,0,0,0,84,KO/TKO,red
25,4,1,46,0,3,0,3,0,180,"Downey, California USA",...,0,0,0,0,99,0,100,84,KO/TKO,red
26,0,0,37,0,0,0,0,0,162,Dublin Ireland,...,0,0,0,0,0,0,0,61,DEC,red
27,2,1,24,0,7,1,2,1,177,"Jackson, Mississippi United States",...,57,0,0,170,568,0,720,65,DEC,blue
28,0,0,27,0,0,0,0,0,177,"Albury, NSW Australia",...,0,0,0,0,0,0,0,70,KO/TKO,red
29,0,0,29,0,0,0,0,0,177,"Chicago, Illinois USA",...,113,109,213,0,292,2,463,70,KO/TKO,red
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1447,5,0,36,0,0,1,36,18,187,"Doylestown, Pennsylvania USA",...,0,0,0,0,0,0,0,93,KO/TKO,blue
1448,0,0,35,0,0,0,0,0,175,Mexico City Mexico,...,0,0,0,0,0,0,0,70,DEC,blue
1449,3,3,29,0,0,3,2,0,170,"Fortaleza, Ceara Brazil",...,124,172,1,428,2066,47,3138,65,DEC,red
1450,0,0,29,0,0,0,0,0,170,"Leigh, Lancashire England",...,0,0,0,0,0,0,0,65,KO/TKO,blue
1451,1,1,46,0,2,0,2,0,180,"Downey, California USA",...,0,0,7,0,72,0,72,93,SUB,red
1452,1,0,32,0,2,0,4,2,185,"Edmonton, Alberta Canada",...,0,0,0,0,431,0,440,77,DEC,red
1453,0,0,21,0,0,0,0,0,182,"Houston, Texas USA",...,7,7,33,37,943,0,1158,70,KO/TKO,blue
1454,0,0,33,0,0,0,0,0,165,"Campina Grande, Paraiba Brazil",...,0,0,0,0,0,0,0,61,DEC,blue
1455,1,1,38,0,0,0,3,0,170,Rio de Janeiro Brazil,...,134,208,107,178,781,31,1353,61,SUB,red
1456,0,0,22,0,0,0,0,0,165,Bucharest Romania,...,0,0,0,11,588,0,588,52,DEC,red
1457,1,1,24,0,0,2,0,0,172,"Chone, Manabi Ecuador",...,0,0,0,0,0,0,0,61,DEC,red
1458,0,0,33,0,0,0,0,0,187,"Mt. Gilead, Ohio USA",...,0,0,0,0,0,0,0,84,KO/TKO,blue
1459,1,1,37,0,2,1,2,0,175,"San Francisco, California USA",...,0,0,3,0,187,0,197,70,DEC,red
1460,0,0,30,0,0,0,0,0,170,Po-Hang South Korea,...,254,22,97,516,1567,37,2605,65,KO/TKO,blue
1461,0,0,30,0,0,0,0,0,170,"Gloucester, Massachusetts USA",...,417,29,0,342,982,44,1106,65,DEC,red
1462,1,1,32,0,0,1,0,0,185,"Augusta, Georgia USA",...,4,24,45,51,1702,0,1952,65,DEC,red
1463,0,0,35,0,0,0,0,0,170,Nagasaki Japan,...,14,44,0,75,2108,7,2319,65,DEC,blue
1464,4,4,25,0,0,0,6,3,172,"Uhrichsville, Ohio USA",...,27,10,21,132,2712,22,2839,61,DEC,blue
1465,0,0,30,0,0,0,0,0,157,"Uruapan, Michoacan Mexico",...,165,45,69,316,1883,6,2561,56,SUB,red
1466,0,0,32,0,0,0,0,0,177,"Arlington, Virginia United States",...,0,0,0,0,0,0,0,70,DEC,blue
1467,3,0,32,0,0,1,6,3,180,"Spokane, Washington USA",...,0,47,0,25,204,11,272,70,DEC,red
1468,0,0,29,0,0,0,0,0,167,Olsztyn Poland,...,0,0,0,0,0,0,0,52,DEC,blue
1469,0,0,32,0,0,0,0,0,162,"Las Vegas, Nevada USA",...,0,0,0,0,0,0,0,56,SUB,red
1470,1,1,32,0,0,0,2,2,172,"San Diego, California USA",...,89,125,89,115,3558,0,4066,61,DEC,blue
1471,3,2,37,0,1,1,3,1,190,"Las Vegas, Nevada USA",...,0,0,0,3,436,0,447,109,DEC,red
1472,0,0,26,0,0,0,0,0,172,"Tlaltenango, Zacatecas Mexico",...,0,0,0,0,0,0,0,61,DEC,red
1473,2,1,26,1,1,0,1,1,165,"Tampa, Florida USA",...,121,118,121,3,1294,31,1386,56,DEC,red
1474,3,2,36,0,0,1,25,13,187,"Doylestown, Pennsylvania USA",...,34,137,0,182,270,27,372,84,DEC,blue
1475,3,1,31,0,0,0,8,5,167,Irvine Scotland,...,208,7,0,124,2254,149,2632,56,KO/TKO,blue
1476,2,1,31,1,0,2,3,1,187,The Netherlands,...,0,26,0,18,368,0,423,84,SUB,red